node_modules
dist
storybook-static
.DS_Store
*.local

PHASES.md
Phases_*
Project.md
DESIGN.md
Rules.md
TechStack.md
Phase_1.md
Phase_2.md
Phase_3.md
Phase_4.md
Phase_5.md
Phase_6.md
Phase_7.md
Phase_8.md
Phase_9.md
*.log
build-storybook.log
npm-debug.log*
.env
.env.local.DS_Store
Thumbs.db
.vscode/
.idea/
.nprc

*.tgz